@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap");

body {
  height: 100%;
  width: 100%;
  font-family: "Reem Kufi Fun" ;
}

.playlist{
  width: 100%;
  height : 110vh;
  color: white;
 background: linear-gradient(90deg, rgba(154,195,219,1) 0%, rgba(9,45,121,1) 100%); 
}


h1 {
  text-align: center;
}

.display {
  display: flex;
  justify-content: space-around;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding: 25px
}

.heading {
  display: flex;
  justify-content: space-around;
  border-top: 5px solid black;
}

@media screen and (max-width: 769px) {
  .column {
    width: 100%;
  }
}


.display-image img {
  display: block;
  height: 100px;
  width: 200px;
  margin-bottom : 20px;
  justify-content: space-around;

}

.display-song p {
  font-size: 30px;
  height: 130px;
  font-weight: bold;
  justify-content: space-around;
}

.display-artist p {
  font-size: 30px;
  height: 130px;
   font-weight: bold;
  justify-content: space-around;

}


.display-link a {
  display: block;
  font-size: 30px;
  height: 130px;
  font-weight: bold;
  justify-content: space-around;

}

.form {
  width: 75%;
  margin: 0 auto 20px auto;
  font-size: 50px;
}

input {
  padding: 5px 10px;
  font-size: 14px;
  color: black;
}

button {
  font-size: 14px;
  padding: 5px 10px;
  color: black;
}


h4{
  color: white;
}

/* MOVING TEXT ANIMATION */
svg {
  width: 100%; height: 100%;
}
svg text {
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #110726;
  font-size: 80px;
}
@keyframes stroke {
  0%   {
    fill: rgba(161, 161, 161, 0); 
    stroke: rgba(17, 7, 38, 1);
    stroke-dashoffset: 25%; 
    stroke-dasharray: 0 50%; 
    stroke-width: 2;
  }
  70%  {  161, 161, 0); 
    stroke: rgba(17, 7, 38, 1); 
  }
  80%  {
    fill: rgba(161, 161, 161, 0); 
    stroke: rgba(17, 7, 38, 1); 
    stroke-width: 3; 
  }
  100% {
    fill: rgba(255, 255, 255, 1); 
    stroke: rgba(17, 7, 38, 0);
    stroke-dashoffset: -25%; 
    stroke-dasharray: 50% 0; 
    stroke-width: 0;
  }
}
/* MOVING TEXT ANIMATION END*/


.ok {
margin-top: 10px;
}



/* ADD BUTTON */
.add {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 6px 12px;
  gap: 4px;
  height: 32px;
  width: 81px;
  border: none;
  background: #1b1b1cd0;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.6s ease; 
}

.lable {
  line-height: 22px;
  font-size: 17px;
  color: #ffff;
  letter-spacing: 1px;
}

.add:hover {
  background: #488aec;
}


.add:hover .svg-icon {
  animation: rotate 1.3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
/* ADD BUTTON END */

/* UPLOAD BUTTON START */
button#uploadButton {
  border: none;
  display: flex;
  padding: 0.75rem 1.5rem;
  background-color: #488aec;
  color: #ffffff;
  font-size: 1.2 rem;
  line-height: 1 rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
  box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
  transition: all .3s ease; 
  cursor: pointer;
}

button#uploadButton:hover {
  box-shadow: 0 12px 20px -4px #488aec4f, 0 8px 12px -6px #488aec17; /* Adjusted shadow on hover */
  transform: translateY(-2px); 
  background-color: #1b1b1cd0;
}

button#uploadButton:focus, button#uploadButton:active {
  opacity: .85;
  box-shadow: none;
}

button#uploadButton svg {
  width: 1.25rem;
  height: 1.25rem;
}
/* UPLOAD BUTTON END */

.ok1{
  display: flex;
  flex-wrap: wrap;
  gap: 0.875rem;
  flex-direction: row; 
}


.container {
  width: 100%;
  height : 100%;
}

#intro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;  
  align-items: center; 
  justify-content: center; 
  gap: 20px;  
  color: white;
background-color: #9ac3db;  
}
#intro i{
  cursor: pointer;
  font-size: 8rem;
   margin-right: 5px;
    display: flex; 
   justify-content: center;
    align-items: center;
    text-align: center; 

}
#intro h1{
   margin-bottom: 20px;
  font-size: 70px;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
p{
  font-size : 50px;
}